/*----- Basic Resets -----*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
figure,
figcaption,
main {
    display: block;
}

img {
    border-style: none;
}

canvas {
    display: inline-block;
}

/*----- Font -----*/
html {
  font-family: 'Open Sans', sans-serif;
}
